<section id="alumni" class="bg-light-gray">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Alumni</h2>
                <h3 class="section-subheading text-muted">Our legacy and global impact.</h3>
            </div>
        </div>

        <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center;">
            {% for member in site.data.members.alumni %}
            <div class="col-xs-12 col-sm-4 col-md-3 text-center" style="margin-bottom: 40px;">
                
                <img src="{{ member.img | prepend: '/img/team/' | relative_url }}" class="img-responsive img-circle img-centered" alt="{{ member.name }}" style="width: 120px; height: 120px; object-fit: cover; border: 3px solid white; box-shadow: 0px 2px 5px rgba(0,0,0,0.2);">
                
                <h5 style="margin-top: 15px; margin-bottom: 5px; font-weight: 700;">{{ member.name }}</h5>
                
                <p class="text-muted small" style="margin-bottom: 10px; font-style: italic; min-height: 40px;">
                    {{ member.position }}
                </p>
                
                <ul class="list-inline">
                    {% if member.github %}
                    <li><a href="{{ member.github }}" target="_blank" style="color: #333;"><i class="fa-brands fa-github"></i></a></li>
                    {% endif %}
                    {% if member.linkedin %}
                    <li><a href="{{ member.linkedin }}" target="_blank" style="color: #0077b5;"><i class="fa-brands fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if member.portfolio %}
                    <li><a href="{{ member.portfolio }}" target="_blank" style="color: #00d2ff;"><i class="fa-solid fa-globe"></i></a></li>
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </div>

    </div>
</section>