<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand page-scroll" href="#page-top" style="padding: 5px 15px;">
                    <img src="{{ '/img/logo-nav.png' | prepend: site.baseurl }}" alt="AIROS" class="nav-logo">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#papers">Publications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Departments</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Activities</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#join">Join Us</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>

    <header>
        <div class="container">
            <div class="intro-text">
                
                <div class="intro-lead-in">
                    <img src="{{ '/img/logo-hero.png' | prepend: site.baseurl }}" alt="AIROS Logo" class="hero-logo">
                </div>

                <div class="intro-heading">Artificial Intelligence and Robotics Society</div>
                <a href="#services" class="page-scroll btn btn-xl">Discover our club!</a>
            </div>
        </div>
    </header>