{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        
                        <img src="{{ site.baseurl }}/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                        
                        <p>{{ post.description }}</p>

                        <div style="margin-bottom: 30px;">
                            
                            {% if post.repo %}
                            <a href="{{ post.repo }}" target="_blank" class="btn btn-xl btn-primary">
                                <i class="fa-brands fa-github"></i> View Code
                            </a>
                            {% endif %}

                            {% if post.slides %}
                            <a href="{{ post.slides }}" target="_blank" class="btn btn-xl btn-primary" style="background-color: #e74c3c; border-color: #e74c3c;">
                                <i class="fa-solid fa-file-pdf"></i> View Slides
                            </a>
                            {% endif %}

                        </div>
                        <ul class="list-inline item-details">
                            <li>Context:
                                <strong>{{ post.client }}</strong>
                            </li>
                            <li>Date:
                                <strong>{{ post.project-date }}</strong>
                            </li>
                            <li>Category:
                                <strong>{{ post.category }}</strong>
                            </li>
                        </ul>
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                            
                            {% if post.category == 'Evento' or post.category == 'Event' %}
                                Close Event
                            {% elsif post.category == 'Taller' or post.category == 'Workshop' %}
                                Close Workshop
                            {% else %}
                                Close Project
                            {% endif %}
                            
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}