<section id="portfolio" class="bg-light-gray">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Activities</h2>
                <h3 class="section-subheading text-muted">Innovation in action: Projects, Events, and Workshops.</h3>
            </div>
        </div>

        <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center;"> 
            
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item" style="margin-bottom: 30px;"> <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        
                        <img src="{{ site.baseurl }}/img/portfolio/{{ post.thumbnail }}" 
                             class="img-responsive img-centered" 
                             alt=""
                             style="width: 100%; height: 260px; object-fit: cover;">
                    </a>
                    
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        
                        <p class="text-muted">
                            {% if post.category == 'Proyecto' or post.category == 'Project' %}
                                <i class="fa-solid fa-robot"></i> 
                            {% elsif post.category == 'Evento' or post.category == 'Event' %}
                                <i class="fa-solid fa-trophy"></i> 
                            {% elsif post.category == 'Taller' or post.category == 'Workshop' %}
                                <i class="fa-solid fa-chalkboard-user"></i> 
                            {% endif %}
                            
                            {{ post.subtitle }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</section>